{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
    {{super()}}
    
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="container-fluid" style="background-color: black;"> 
    <div class="container" style=" font-family: 'Fredoka One', cursive; background-color: coral; color: black;">
        <h4>Blog title: {{blog.title}}</h4>
        <h4>Blog content: {{blog.content}}</h4>

        <hr>
        {{wtf.quick_form(form)}}
    </div>
</div>

{% endblock %}