{% extends 'base.html' %}

{% block content %}
<div class="container-fluid"> 
    <div class="container">
        <div style="background-color: white;">    
            <h1 style="text-align: center; ">Welcome to Blog Site!</h1>
            <hr>
       
            <h4 style="text-align: center; ">To post blogs on this site as a writer sign in <a href="/authenticate/login">here</a></h4> 
            <h4 style="text-align: center; ">Click on any of the blog titles below to read and comment!</h4>
            <h4 style="text-align: center;">A quote for you:</h4>
            <h4></h4>
        </div>
        
    
    
        <div class="row">
        <div class="col-md-6" style="padding: 30px; "> 
            <div class="card" style="background-color: black;" > 
                <div class="class-header">
                    <h3 style="text-align: center;"><a href="" style="color: coral;" ></a></h3>
                </div>
                <hr>
                <div class="card-body" style="text-align: center;">
                    <img class="card-img-body" src="" alt="">
                    
                    <div class="card-footer">
                        
                        
                        <hr>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}